config_root: "/srv/testnet-irc"

docker_compose_networks:

### General settings
### These are applied to all IRCds to simplify configuration
network_suffix: "testnet.local"
links_trusted_ip:
- 172.17.0.0/16  # docker default

admin_name: "PyLink testnet"
admin_nick: "{{ opers[0].name }}"
admin_email: "none@email.invalid"

# Set these in hosts.yml !!!
opers:
- name: foo
  pass: bar
  hosts: ["*@*.example.com", "*!*@example.net"]
exempt_hosts:
  - "*@127.0.0.0/8"
  - "*@0::1"
links:
  global:
    # Note: it seems dict keys don't expand variables, so I put the server name into a name field
    "pylink":
      name: "pylink.{{ network_suffix }}"
      incoming_masks: "{{ links_trusted_ip }}"
      recvpass: "examplePass"
      sendpass: "examplePass"

    "services":
      name: "services.{{ network_suffix }}"
      incoming_masks: "{{ links_trusted_ip }}"
      recvpass: "services"
      sendpass: "services"

ulines:
  - "services.{{ network_suffix }}"

# Autojoin channels for users and opers, on supported IRCds
auto_join: ["#testnet"]
auto_join_opers: ["#opers"]

# Cloak prefix (InspIRCd, UnrealIRCd)
# Cloak keys are automatically generated and placed in credentials/
cloak_prefix: "hidden"

### IRCd-specific settings
ircds:
  inspircd:
    server_name: "inspircd.{{ network_suffix }}"
    server_id: "001"
    server_desc: "InspIRCd Test Server"
    network_name: "testnet-insp"

    service:
      image: inspircd/inspircd-docker:3.10
      restart: on-failure
      volumes:
        - "{{ config_root }}/inspircd:/inspircd/conf/"
        - "{{ config_root }}/certs/cert.pem:/inspircd/conf/cert.pem:ro"
        - "{{ config_root }}/certs/key.pem:/inspircd/conf/key.pem:ro"
        - "{{ config_root }}/certs/dhparams.pem:/inspircd/conf/dhparams.pem:ro"
        #- "{{ data_root }}/inspircd:/inspircd/data/"

  solanum:
    server_name: "solanum.{{ network_suffix }}"
    server_id: "26U"
    server_desc: "Solanum Test Server"
    network_name: "testnet-solanum"

    service:
      build:
        context: dockerfiles/solanum
      restart: on-failure
      volumes:
        - "{{ config_root }}/solanum:/usr/local/etc"
        - "{{ config_root }}/certs:/certs:ro"

  unreal:
    server_name: "unreal.{{ network_suffix }}"
    server_id: "0UN"
    server_desc: "UnrealIRCd Test Server"
    network_name: "testnet-unreal"

    service:
      build:
        context: dockerfiles/unreal
        args:
          UNREAL_VERSION: 5.2.1.1
      restart: on-failure
      volumes:
        - "{{ config_root }}/unreal/unrealircd.conf:/home/ircd/unrealircd/conf/unrealircd.conf:ro"
        - "{{ config_root }}/certs/cert.pem:/home/ircd/unrealircd/conf/tls/server.cert.pem:ro"
        - "{{ config_root }}/certs/key.pem:/home/ircd/unrealircd/conf/tls/server.key.pem:ro"

