version: '3.7'

services:
{% for server, details in docker_compose_services.items() %}
  {{ server }}:
{% set service_block = details %}
{# Allow overriding docker-compose service options globally and per container #}
{% if service_overrides and "global" in service_overrides %}
{% set _dummy = service_block.update(service_settings.global) %}
{% endif %}
{% if service_overrides and server in service_overrides %}
{% set _dummy = service_block.update(service_overrides[server]) %}
{% endif %}
    {{ service_block | to_yaml | indent(width=4) }}
{% endfor %}

{# Custom network definitions #}
{% if docker_compose_networks %}
networks:
  {{ docker_compose_networks | to_yaml | indent(width=2) }}
{% endif %}
