# TLS (SSL) listener that binds on a TCP/IP endpoint:
<bind address=""
      port="7001"
      type="servers"
      sslprofile="Servers">

# Plaintext listener that binds on a TCP/IP endpoint:
<bind address=""
      port="7000"
      type="servers">

{% set _links = links["global"] %}
{% if "inspircd" in links %}
{% set _dummy = _links.update(links["inspircd"]) %}
{% endif %}
{% for name, data in _links.items() %}
<link name="{{ data.name }}"
      ipaddr="{{ data.ip | default("localhost") }}"
      port="{{ data.port | default(7000) }}"
{% if data.ssl | default(False) %}
      sslprofile="Servers"
{% endif %}
      allowmask="{{ data.incoming_masks | join(' ') }}"
      sendpass="{{ data.sendpass }}"
      recvpass="{{ data.recvpass }}">
{% endfor %}

{% for name in ulines %}
<uline server="{{ name }}" silent="no">
{% endfor %}
